/* alerts */
.alert {
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem;
    border-color: transparent;
    border-radius: 5;
  }
  
  .alert-danger {
    color: white;
    background: red; 

  }
  .alert-success {
    color: green;
    background: yellow;
  }